server:
  port: 8081
  servlet:
    context-path: /api/user
    session:
      cookie:
        path: /api
spring:
  application:
    name: IntelliEdu-user-service
  session:
    store-type: redis
    timeout: 2592000 # 30 days expiration

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://intelliedu-user.c5mweuciu680.ap-southeast-1.rds.amazonaws.com:3307/intelli_edu_user
    username: root
    password: ${MYSQL_PASSWORD}
  redis:
    database: 1
    host: localhost
    port: 6379
    timeout: 5000
#    password: 123456
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
knife4j:
  enable: true
logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.web.servlet: DEBUG
feign:
  client:
    config:
      default:
        connectTimeout: 5000  # milliseconds
        readTimeout: 10000    # milliseconds
